.green {
    background-color: greenyellow;
}

.red {
    
    background-color: red;
}

.button {
    margin: 10px;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.input-text {
    margin: 10px
}

.input-num {
    margin: 10px;
    width: 85px;
}

.title-content {
    width: 50%;
    margin: auto;
    padding: 10px;
    padding-bottom: 50px;
    font-size: 25px;
    font-weight: bold;
    color: black;
}
